//Fonts

//<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oswald:wght@300;400;600&family=Pacifico&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">


$font-logo: 'Great Vibes', cursive; //400
$font-title: 'Pacifico', cursive;  //400
$font-primary: 'Oswald', sans-serif; //300 400 600
$font-secondary: 'Roboto', sans-serif; //300 500 700

//Colors

$color-green-1: rgba(133,188,69,1.0);
$color-green-2: rgba(68,189,50,1.0);
$white: rgba(255,255,255,1.0);
$black: rgba(0,0,0,1.0);

